<div class="d-block d-lg-none position-fixed bg-primary p-1" style="z-index: 1000">
  <button class="btn btn-primary" id="elips-menu">
    <i class="fa fa-bars"></i>
  </button>
</div>

<header class="header">
  <div class="container text-center">
    <div class="branding mb-0">
      <h1 class="logo">
        <a class="text-highlight text-white" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </h1>
    </div>
    {{ with .Site.Params.description }}
      <div class="text-grey">
        {{ . }}
      </div>
    {{ end }}

    <div class="social-container mt-3">
      <div class="github-btn mb-2">
        <a class="github-button" href="https://github.com/skuyjs" data-size="large" aria-label="Star skuyjs on GitHub">Github</a>
      </div>
    </div>
  </div>
</header>
